@font-face {
    font-family: myFirstFont;
    src: url(/Personal-Website-Project-/font/Bangnampueng.ttf);
}
@font-face {
    font-family: mysecondFont;
    src: url(/Personal-Website-Project-/font/Waffle\ Regular.otf);
}
@font-face {
    font-family: mythridFont;
    src: url(/Personal-Website-Project-/font/Circular.ttf);
}
html{scroll-behavior: smooth;}
body{margin: 0px;}
#fullpage section{
    height: 754px;
    width: 100%px;
}

#page_over {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    background-color:#A1BBD0;
}

#pushdown {
     display: flex;
     justify-content: center;
}

#pushdown :hover{
    transform: translateY(5px);
}

#txt_over{
    margin-top: 68px;
    margin-bottom: 0px;
    font-size: 50px;
    line-height: 580px;
    font-family: myFirstFont;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
}

#world{
    height: 70px;
    width: 70px;
}

#navbar {
    background-color: #E2B49A;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
#navbar a {
    float: left;
    display: block;
    font-family:mysecondFont;
    color:#193446;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 30px;
}
  
#navbar a:hover {
    background-color: rgb(172, 51, 51);
    color: rgb(255, 255, 255);
}

#home_page{
    display: flex;
    background-color:#e9c77b;
}

#txt_left{
    font-size: 100px;
    text-align: left;
    font-family: myfirstFont;
    color: white;
    margin: 0px;
    height: 40%;
}

#about_page{
    display: grid;
    grid-template-columns: auto auto;
    background-color:#e9c77b;
    height: 100%;
}

.content_about{
    margin: auto;
    height: 100%;
}

#txt_about{
    font-family: mythridFont;
    font-size: 30px;
}
#tangmo{
    width: 30px;
    height: 30px;
}
#profile{
    width: 40%;
    height: 60%;
}