
/*------------Include External font-----------------*/

@font-face {
    font-family: myFirstFont;
    src: url(/Personal-Website-Project-/font/Bangnampueng.ttf);
}
@font-face {
    font-family: mysecondFont;
    src: url(/Personal-Website-Project-/font/Waffle\ Regular.otf);
}
@font-face {
    font-family: mythridFont;
    src: url(/Personal-Website-Project-/font/Circular.ttf);
}

/*------------Main Setting to all page -----------------*/
html{scroll-behavior: smooth;}
body{margin: 0px;}
#fullpage section{
    height: 754px;
    width: 100%;
}

/*------------First page -----------------*/
#page_over {
    display: grid;
    grid-template-rows: 600px auto auto;
    grid-gap: 0px;
    background-color:#A1BBD0;
}

#pushdown { /*-----Button to scroll down--------*/
     display: flex;
     justify-content: center;
}

#pushdown :hover{
    transform: translateY(5px);
}

#txt_push{
    width: 100%;
    color: #ffffff;
    font-family: myFirstFont;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 5px auto ;
}

#txt_over{
    margin-top: 68px;
    margin-bottom: 0px;
    font-size: 50px;
    line-height: 580px;
    font-family: myFirstFont;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    white-space: nowrap;
}

#world{
    height: 70px;
    width: 70px;
}
/*----------------------Nav bar----------------------*/
#navbar {
    background-color: #E2B49A;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
#navbar a {
    float: left;
    display: block;
    font-family:mysecondFont;
    color:#193446;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 30px;
}
  
#navbar a:hover {
    background-color: rgb(172, 51, 51);
    color: rgb(255, 255, 255);
}
/*--------------------------------About Page------------------------------------*/
#about_page{
    display: grid;
    grid-template-columns: auto auto;
    background-color:#e9c77b;
}

.content_about{
    display: flex ;
    flex-direction: column;
    height: 80%;
    margin-top: 80px;
}

#profile{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#txt_about{
    font-family: mythridFont;
    font-size: 30px;
    text-align: left;
    font-family: myfirstFont;
    color: white;
}
#tangmo{
    width: 30px;
    height: 30px;
}
#name{
    font-size: 50px;
}

/*--------------------------------logo social about Page------------------------------------*/
.logo{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.logo img{
    height: 100px;
}

.logo button{
    background-color: rgb(0,0,0,0);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.logo button:hover{
    transform: translateY(-8px);
}

